* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

body {
    font-family: "Roboto", Helvetica, Arial, sans-serif;
}

.container {
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.nav {
    background: #333;
    color: #fff;
    padding: 20px 20px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    gap: 20px;
}

.page-header {
    background: #333;
    color: #fff;
}

.main-btn {
    text-decoration: none;
    color: #fff;
    border: 2px solid #fff;
    padding: 10px 20px;
    box-shadow: 3px 3px 0px #333;
}
